  GNU nano 7.2                                                                                                                      hadoop.env
# Hadoop/HDFS Config
HDFS_CONF_dfs_namenode_name_dir=file:///hadoop/dfs/name
HDFS_CONF_dfs_datanode_data_dir=file:///hadoop/dfs/data

# HBase Config
HBASE_CONF_hbase_rootdir=hdfs://hdfs-namenode:8020/hbase
HBASE_CONF_hbase_zookeeper_quorum=zookeeper
HBASE_CONF_hbase_cluster_distributed=true
HBASE_CONF_hbase_master_hostname=YOUR_EC2_REACHABLE_IP_OR_DNS
HBASE_CONF_hbase_regionserver_hostname=YOUR_EC2_REACHABLE_IP_OR_DNS

# Memory Management 
HADOOP_HEAPSIZE=1024
HBASE_HEAPSIZE=1024

HDFS_CONF_dfs_permissions_enabled=false

# Networking Fixes
HDFS_CONF_dfs_client_use_datanode_hostname=true
HDFS_CONF_dfs_datanode_use_datanode_hostname=true

# ZooKeeper Stability
HBASE_CONF_zookeeper_recovery_retry=10
HBASE_CONF_zookeeper_recovery_retry_intervalmillisecond=2000

# NameNode Address Fix
CORE_CONF_fs_defaultFS=hdfs://hdfs-namenode:8020

# MySQL Config
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=falcon_eye_metadata

